body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

h2, h4 {
  color: #333;
}

.btn-success {
  background-color: #4a5aa1; /* azul principal Rosita Forever */
  border: none;
  color: white;
}

.btn-success:hover {
  background-color: #7289da; /* azul hover */
}
